#**Object Oriented Programming**

In [ ]:
class DataAnalyst:
  def __init__(self,name,company,experience,skill,salary):
    self.name = name
    self.company = company
    self.experience = experience
    self.skill = skill
    self.salary = salary

  def intro(self):
    print(f"{self.name} work at {self.company} has experience {self.experience} years")

  def yourskill(self):
    print(f"{self.name} has skill is {self.skill}")

  def yoursalary(self):
    print(f"{self.name} current salary is {self.salary}")

  def newsalary(self,newexp):
    exp = newexp - self.experience
    new_salary = self.salary * (1.10**exp)
    print(f"{self.name} has new experience {newexp} yeas,current salary is {new_salary}")

In [ ]:
New = DataAnalyst("New","Google",5,"SQL",65000)
Bamm = DataAnalyst("Bamm","Spotify",6,"Excell",68000)
New.intro()
New.yourskill()
New.yoursalary()
New.newsalary(8)

Bamm.intro()
Bamm.yourskill()
Bamm.yoursalary()
Bamm.newsalary(9)

New work at Google has experience 5 years
New has skill is SQL
New current salary is 65000
New has new experience 8 yeas,current salary is 86515.00000000003
Bamm work at Spotify has experience 6 years
Bamm has skill is Excell
Bamm current salary is 68000
Bamm has new experience 9 yeas,current salary is 90508.00000000003

25